/*-------- GERAL --------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}
h4 {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bolder;
}
.estoylokito {
    height: 100vh;
}

/* Login */
#index {
    width: 100%;
    height: 100%;
    background-image: url("./img/sushi-bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#index form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}
#index h1 {
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 40px;
}
#index form > input {
    width: 100%;
    margin: 15px 0px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #ffffff;
    height: 35px;
    text-indent: 20px;
    text-align: left;
}
#index form > input::placeholder {
    color: rgba(0, 0, 0, 0.877);
    font-weight: bolder;
    font-size: 17px;
}
#index form div input {
    width: 190px;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 35px;
    color: white;
    background-color: rgb(244, 33, 58);
    font-weight: 600;
    font-size: 15px;
    margin: 15px 15px 15px 0px;
    cursor: pointer;
}
#index form div input:hover {
    transition: 350ms linear;
    background-color: rgb(255, 0, 30);
    box-shadow: inset 1px 1px 7px 1px rgba(0, 0, 0, 0.233);
}
#index a {
    color: white;
    font-size: 12px;
    cursor: pointer;
}
#index a:hover {
    transition: 350ms;
    color: rgb(48, 226, 250);
}

/* Área Padrão */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
    padding: 5px 40px;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.perfil {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: none;
    margin: 0px 0px 0px 25px;
}
.menu {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    width: fit-content;
    border-top: 2px solid black;
    padding: 70px 0px 0px 0px;
}
.menu a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 100%;
    margin: 5px 0px;
    font-size: 25px;
    font-weight: 100;   
    padding: 0px 10px 0px 10px;
}
.menu a:hover {
    background-color: rgba(83, 83, 83, 0.747);
}
.menu .ico {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    filter: invert(1);
}
#cor {
    background-color: rgb(244, 33, 58);
}
#corpo {
    padding: 80px 60px;
    background-color: rgb(234, 234, 234);
    width: 100%;
    min-height: 100vh;
}




/* What am I even doing to this code?*/


/*-------- PAINEL ----------*/
.grid3_cont {
    background-color: white;
    width: 80%;
    padding: 0px 10px;
    border: solid rgb(216, 215, 215) 1px;
    border-radius: 7px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
    text-align: left;
    font-weight: 400;
}
.grid3 {
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0px 10px;
    text-align: center;
}
.grid3:last-child {
    margin: 0px 10px;
   
}
.grid3 div {
    border-right: 1px solid rgba(83, 83, 83, 0.747);
}
.grid3 div:last-child {
    border-right: none;
}

/*--------- PEDIDOS ---------*/
.grid6_cont {
    background-color: white;
    width: 80%;
    padding: 15px 10px;
    border: solid rgb(216, 215, 215) 1px;
    border-radius: 7px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
    text-align: left;
    font-weight: 400;
}
.grid6 {
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}
.grid6 span a {
    text-decoration: none;
    color: rgb(246, 80, 108);
}
.grid6 span:last-child {
    text-align: center;
}

/*--------- PEDIDOS-VISUALIZAR ---------*/
#pedivisu {
    background-color: white;
    border-radius: 10px;    
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);    
    padding: 15px 10px;
    width: 350px;
}
#pedivisu p {
    margin-bottom: 5px;
}
.grid2_cont {
    background-color: white;
    width: 80%;
    border-radius: 7px;
    text-align: left;
    font-weight: 400;
}
.botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addit {
    outline: none;
    border-radius: 7px;
    border: none;
    background-color: #202020;
    color: white;
    padding: 5px;
    font-weight: 100;
}
.apldsc {
    outline: none;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    background-color: white;
    color:black;
    padding: 5px;
    font-weight: 100;
}
.recalc {
    outline: none;
    border-radius: 7px;
    border: none;
    background-color:rgb(244, 33, 58);
    color: white;
    padding: 5px;
    font-weight: 100;
}

/*--------- CLIENTES -------------*/
.grid_cont {
    background-color: white;
    width: 80%;
    padding: 15px 10px;
    border: solid rgb(216, 215, 215) 1px;
    border-radius: 7px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
    text-align: left;
    font-weight: 400;
}
.grid5 {
    text-align: center;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}
.grid5 span a {
    text-decoration: none;
    color: rgb(246, 80, 108);
}
.grid5 span:last-child {
    text-align: center;
}
.rosa {
    color: rgb(244, 33, 58);
    font-weight: 500;
}
.eye {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
select {
    border: none;
    border-radius: 10px;
    min-width: 325px;
    min-height: 70px;
    font-size: 20px;
    text-align: center;
    text-indent: 20px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    outline: none;
}


/*---------- DESTAQUES ------------*/
.guardabloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blocao {
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
    height: 250px;
    width: 300px;
}
.bloquinho {
    padding: 40px;
    border: solid black 1px;
}
.mais {
    width: 30px;
}
.but {
    font-size: 11px;
    font-weight: 100;
    width: 100px;
    margin: 0px 15px;
}


/*--------------- CUPOM -----------*/
.grid4_cont {
    background-color: white;
    width: 80%;
    padding: 15px 0px;
    border: solid rgb(216, 215, 215) 1px;
    border-radius: 7px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-weight: 400;
    height: 250px;
}
.grid4 {
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0px;
    text-align: center;
}
.borracha {
    width: 20px;
    margin: 0 auto;
}